XMLSchema/10-01.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="simple_types">
		<xs:complexType>
			<xs:sequence>

				<!-- ** XML2e ** -->
				<!-- to follow the book's example, see the section below -->
				<xs:element name="height" type="xs:string"/>
				<xs:element name="year_built" type="xs:integer"/>

			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
