XMLSchema/10-50.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<!-- ** XML2e ** -->
	<!-- to follow the book's example, see this and the section below -->
	<xs:simpleType name="dateTime_list">
		<xs:list itemType="xs:dateTime"/>
	</xs:simpleType>

	<xs:element name="simple_types">
		<xs:complexType>
			<xs:sequence>

				<!-- ** XML2e ** -->
				<!-- to follow the book's example, see the section below -->
				<xs:element name="recent_eclipses" type="dateTime_list"/>

			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
